<div class="container">

  <h1>Controle de Produtos</h1>

  <div>
    <a mat-button color="warn" routerLink="/produtos/cadastrar-produto">
      <mat-icon>add_box</mat-icon>
      Cadastrar Produto
    </a>
  </div>
  <br><br>

  <!-- Filtro -->
  <mat-form-field class="filter">
    <mat-label class="filter">Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="pesquisar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Código -->
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
    </ng-container>

    <!-- Nome -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nomeProduto}} </mat-cell>
    </ng-container>

    <!-- Descrição -->
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
    </ng-container>

    <!-- Peso -->
    <ng-container matColumnDef="peso">
      <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.peso}} {{element.tipoPeso}} </mat-cell>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef> Ações</mat-header-cell>
      <mat-cell *matCellDef="let produto">
        <a type="button" mat-button  color="warn" aria-label="Consultar produto"
          routerLink="/produtos/produto-detalhes/{{produto.idProduto}}">
          <mat-icon >search</mat-icon>
        </a>
        <a type="button" mat-button color="warn" aria-label="Remover produto"  (click)="excluir(produto)">
          <mat-icon>delete</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <!-- Definição das colunas e linhas -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Mensagem exibida quando não há dados correspondentes na filtragem -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Não encontrado: "{{input.value}}"</td>
    </tr>

  </table>
  <br>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
