<div class="container">

  <!--Inicia chamando o componente card-listar e passa os parâmetros necessários-->
  <app-card-listar tituloFormulario="Controle de Clientes">

    <!--Tag section que passa um nome de class e com isso é selecionada lá no card-listar-->
    <section class="card-listar-content">

      <!-- Botão de cadastro -->
      <div>
        <a mat-button color="warn" routerLink="/clientes/cadastrar-cliente">
          <mat-icon>add_box</mat-icon>
          Adicionar novo cliente
        </a>
      </div>
      <br><br>

      <div *ngIf="mensagem != '' ;else resultado">
        <h5>{{mensagem}}</h5>
      </div>

      <ng-template #resultado>

      <!-- Filtro -->
      <mat-form-field class="filter">
        <mat-label class="filter">Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="pesquisar" #input>
      </mat-form-field>

      <!-- Tabela -->
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- Nome -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
          <mat-cell *matCellDef="let cliente">{{cliente.nome}}</mat-cell>
        </ng-container>

        <!-- Nascimento -->
        <!-- <ng-container matColumnDef="nascimento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nascimento </mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.dataNascimento | data}} </mat-cell>
        </ng-container> -->

        <!-- Endereço -->
        <ng-container matColumnDef="endereco">
          <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
          <mat-cell *matCellDef="let cliente">
            <div *ngIf="cliente.endereco">
              {{cliente.endereco.logradouro}}, {{cliente.endereco.numero}}, {{cliente.endereco.bairro}}
            </div>
            <div *ngIf="!cliente.endereco">
              <span> <i>Não cadastrado</i> </span>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Telefones -->
        <ng-container matColumnDef="telefone">
          <mat-header-cell *matHeaderCellDef> Telefones </mat-header-cell>
          <mat-cell *matCellDef="let cliente">
            <div *ngIf="cliente.telefone2">
              {{cliente.telefone1}} / {{cliente.telefone2}}
            </div>
            <div *ngIf="!cliente.telefone2">
              {{cliente.telefone1}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Ações -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef> Ações</mat-header-cell>
          <mat-cell *matCellDef="let cliente" class="action-column">
            <button mat-button color="warn" aria-label="Consultar Cliente" routerLink="/clientes/cliente-detalhes/{{cliente.idCliente}}">
              <mat-icon >search</mat-icon>
            </button>
            <button mat-button color="primary" aria-label="Editar Cliente" routerLink="/clientes/cliente-update/{{cliente.idCliente}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" aria-label="Remover Cliente" (click)="excluir(cliente)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Definição das colunas e linhas -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Mensagem exibida quando não há dados correspondentes na filtragem -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Não encontrado: "{{input.value}}"</td>
        </tr>

      </table>
      <br>

      <!-- Paginação -->
      <mat-paginator
        [pageSizeOptions]="[10, 15, 25]"
        showFirstLastButtons
        aria-label="Selecionar página">
      </mat-paginator>

      </ng-template>
    </section>

  </app-card-listar>

</div>
