<div class="container">

  <h1>Cadastro de Fornecedores</h1>
  <br>

  <mat-stepper  [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper>

    <!-- DADOS PRINCIPAIS -->
    <mat-step [stepControl]="dados" #step1 >
      <ng-template matStepLabel>Dados/Contatos</ng-template>
      <form [formGroup]="dados" class="min-width">

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label class="label">Nome:</mat-label>
          <input matInput placeholder="Informe o nome..."
            formControlName="nomeFornecedor" required maxlength="100"
          />
          <mat-error *ngIf="dados.get('nomeFornecedor')?.invalid">{{
            getErrorMessage("nomeFornecedor")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>CPF/CNPJ:</mat-label>
          <input matInput placeholder="Informe o cpf ou cnpj..." type="text"
            formControlName="cpfCnpj" required
          />
          <mat-error *ngIf="dados.get('cpfCnpj')?.invalid">{{
            getErrorMessage("cpfCnpj")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label class="label">Telefone Principal:</mat-label>
          <input matInput type="tel"
            formControlName="telefone1" placeholder="Informe um telefone..."
            required maxlength="11"
          />
          <mat-error *ngIf="dados.get('telefone1')?.invalid">{{
            getErrorMessage("telefone1")
          }}</mat-error>
          <mat-hint align="start">formato: xxxxxxxxxxx</mat-hint>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label class="label">Telefone secundário:</mat-label>
          <input matInput type="tel"
            formControlName="telefone2" placeholder="Telefone alternativo..."
            maxlength="11"
          />
          <mat-error *ngIf="dados.get('telefone2')?.invalid">{{
            getErrorMessage("telefone2")
          }}</mat-error>
          <mat-hint align="start">formato: xxxxxxxxxxx</mat-hint>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Email:</mat-label>
          <input matInput type="text"
            formControlName="email" placeholder="Informe o email..."
            maxlength="30"
          />
          <mat-error *ngIf="dados.get('email')?.invalid">{{
            getErrorMessage("email")
          }}</mat-error>
        </mat-form-field>

        <br>
        <mat-card-actions>
          <button mat-button (click)="step1.reset()">Limpar</button>
          <button [disabled]="!dados.valid " mat-button  matStepperNext>Avançar</button>
        </mat-card-actions>
      </form>
    </mat-step>

    <!-- ENDEREÇO -->
    <mat-step [stepControl]="endereco" #step2>
      <ng-template matStepLabel>Endereço</ng-template>
      <form [formGroup]="endereco">

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Logradouro:</mat-label>
          <input matInput type="text"
            formControlName="logradouro" placeholder="Insira nome da rua, avenida, etc..."
            maxlength="50"
          >
          <mat-error *ngIf="endereco.get('logradouro')?.invalid">{{
            getErrorMessage("logradouro")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Número:</mat-label>
          <input matInput type="text"
            formControlName ="numero" placeholder="Numero da casa, prédio..."
            maxlength="5"
          >
          <mat-error *ngIf="endereco.get('numero')?.invalid">{{
            getErrorMessage("numero")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>CEP:</mat-label>
          <input matInput type="text"
            formControlName="cep" placeholder="Cep local..."
            maxlength="8"
          >
          <mat-error *ngIf="endereco.get('cep')?.invalid">{{
            getErrorMessage("cep")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Complemento:</mat-label>
          <input matInput type="text"
            formControlName="complemento" placeholder="Bloco/Apto, fundos..."
          >
          <mat-error *ngIf="endereco.get('complemento')?.invalid">{{
            getErrorMessage("complemento")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label class="label">Nome do Condomínio:</mat-label>
          <input matInput type="text"
            formControlName="condominio" placeholder="Caso seja Condomínio informe o nome..."
          >
          <mat-error *ngIf="endereco.get('condominio')?.invalid">{{
            getErrorMessage("condominio")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Bairro:</mat-label>
          <input matInput type="text"
            formControlName="bairro" placeholder="Insira o bairro..."
          />
          <mat-error *ngIf="endereco.get('bairro')?.invalid">{{
            getErrorMessage("bairro")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Município:</mat-label>
          <input matInput type="text"
            formControlName="municipio" placeholder="Insira o município..."
            maxlength="60"
          />
          <mat-error *ngIf="endereco.get('municipio')?.invalid">{{
            getErrorMessage("municipio")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
          <mat-label>Estado(UF):</mat-label>
          <mat-select formControlName="estado">
            <mat-option value="">Selecione o Estado</mat-option>
            <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
              {{ estado.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-actions>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="step2.reset()">Limpar</button>
          <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
        </mat-card-actions>
      </form>
    </mat-step>
  </mat-stepper>
</div>
