<div class="container">
  <form [formGroup]="form" fxLayoutAlign="center" novalidate class="form mat-elevation-z8">

  <!--   <img src="assets/imagens/shopping-thumbnail.png" alt="Sistema Controle Comercial"> -->

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        formControlName="email"
        required
        name="email"
        matInput placeholder="Ex. fulano@mail.com"
      >
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <div>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
          formControlName="senha" required
          name="senha" laceholder="Ex. 123"
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button [disabled]="form.invalid" (click)="logar()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Entrar</button>

    <br><br>
    <div>
      <a routerLink="cadastrar-usuario">Criar conta</a>
    </div>
    <br>
     <!-- <div>
      <a style="color: red;" routerLink="esqueci-senha">Esqueci minha senha</a>
    </div> -->

  </form>

</div>
