.card{
    width: 95%;
    height: 50%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}

.paragrafo{

  font-size: 12px;
  font-weight: bold;

}

img{

  height: 10rem;
  width: 13rem;
  margin: auto;
  padding-bottom: 30px;
}

.bemvindo{
  margin-left: 23px;
}

.nome{
  font-size: 20px;
  font-style: italic;
  color: rgba(90, 120, 181, 0.968);
  font-family: Impact

}
