<br>
  <body>
    <header class="dsc-header-admin">
      <nav class="dsc-container">
        <h1>Atualizar produto</h1>
      </nav>
    </header>
    <main>
      <section id="product-form-section" class="dsc-container">
        <div class="dsc-product-form-container">
          <form class="dsc-card dsc-form">
            <h2>Dados do produto</h2>
            <div class="dsc-form-controls-container">
              <div>
                <input class="dsc-form-control" type="text" placeholder="Nome">
              </div>
              <div>
                <input class="dsc-form-control" type="text" placeholder="Preço">
              </div>
              <div>
                <input class="dsc-form-control" type="text" placeholder="Imagem">
              </div>
              <div>
                <select class="dsc-form-control dsc-select" required>
                  <option value="" disabled selected>Categorias</option>
                  <option value="1">Valor 1</option>
                  <option value="2">Valor 2</option>
                </select>
              </div>
              <div>
                <textarea class="dsc-form-control dsc-textarea" placeholder="Descrição"></textarea>
              </div>
            </div>

            <div class="dsc-product-form-buttons">
              <button type="reset" class="dsc-btn dsc-btn-white">Cancelar</button>
              <button type="submit" class="dsc-btn dsc-btn-blue">Salvar</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>

