<br>
<body>
  <header class="dsc-header-client">
    <nav class="dsc-container">
      <h1>Carrinho</h1>
      <div class="dsc-navbar-right">
        <div class="dsc-menu-items-container">
          <div class="dsc-menu-item">
            <img src="assets/imagens/carrinho.svg" alt="Carrinho de compras" />
            <span>x{{itens.length}}</span>

          </div>
        </div>
        <!-- <a href="#">Entrar</a> -->
      </div>
    </nav>
  </header>
  <main>
    <section id="cart-container-section" class="dsc-container">
      <div class="dsc-card dsc-mb20">
        <div *ngFor="let itemPedido of itens">

          <div class="dsc-cart-item-container dsc-line-bottom">
            <div class="dsc-cart-item-left">
              <img src="assets/imagens/poteAlho.png" alt="Computador" />
              <div class="dsc-cart-item-description">
                <h3>{{itemPedido.produto.nomeProduto}}</h3>
                <div class="dsc-cart-item-quantity-container">
                  <div class="dsc-cart-item-quantity-btn">-</div>
                  <p>1</p>
                  <!-- <button class="dsc-cart-item-quantity-btn">+</button> -->

                  <div class="dsc-cart-item-quantity-btn" (click)="upQuantity(itemPedido)" >+</div>
                </div>
              </div>
            </div>
            <div class="dsc-cart-item-right">
              {{itemPedido.preco | currency:'R$ '}}
            </div>
          </div>
        </div>
        <div class="dsc-cart-total-container">
          <h3> Total: &nbsp;
            {{total() | currency:'R$ '}}</h3>
        </div>
      </div>
      <div class="dsc-btn-page-container">
          <div class="dsc-btn dsc-btn-blue">
            Finalizar pedido
          </div>
          <div class="dsc-btn dsc-btn-white">
            Continuar comprando
          </div>
      </div>
    </section>
  </main>
</body>
