.demo-table {
  width: 60%;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


.total{

  color: rgb(210, 33, 30);
  font-style: oblique;
  font-size: large;
}
