<br>
<div *ngIf="itens().length > 0">
  <div>
    <span>cliente: </span>
    <span style="color: rgb(255, 0, 0); font-size: large;">{{cliente.nome}}</span>
  </div>

  <body>
    <header class="dsc-header-client">
      <nav class="dsc-container">
        <h1>Carrinho</h1>
        <div class="dsc-navbar-right">
          <div class="dsc-menu-items-container">
            <div class="dsc-menu-item">
              <img src="assets/imagens/carrinho.svg" alt="Carrinho de compras" />
              <span>x{{itens().length}}</span>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section id="cart-container-section" class="dsc-container">
        <div class="dsc-card dsc-mb20">
          <div *ngFor="let itemPedido of itens()">
            <div class="dsc-cart-item-container dsc-line-bottom">
              <div class="dsc-cart-item-left">
                <img [src]="itemPedido.produto.foto" alt="" />
                &nbsp;
                <div class="dsc-cart-item-description">
                  <h3 >{{itemPedido.produto.nomeProduto}}</h3>
                  <h6>
                    {{itemPedido.produto.fornecedor.nomeFornecedor}}
                    <br>
                    {{itemPedido.produto.descricao}}
                    <p *ngIf="itemPedido.produto.categoria == 'ALIMENTÍCIOS' || itemPedido.produto.categoria == 'TEMPEROS'">
                      {{itemPedido.produto.peso}} {{itemPedido.produto.tipoPeso}}
                    </p>
                  </h6>
                  <br>
                  <div class="dsc-cart-item-quantity-container">
                    <div class="input-group input-group-sm mb-3">
                      <button type="button" style="width: 20px; cursor: pointer;" (click)="downQuantity(itemPedido)">-</button>
                      <input type="number"  style="width: 2.56em;"  [(ngModel)]="itemPedido.quantidade" (focusout)="verificarQuantidade(itemPedido)" min="1" max="99"/>
                      <button type="button" style="width: 20px; cursor: pointer;"  (click)="upQuantity(itemPedido)" >+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dsc-cart-item-right">
                {{subTotal(itemPedido) | currency:'R$ '}}
              </div>
            </div>
          </div>
          <div class="dsc-cart-total-container">
            <h3 style="font-size: 70%;"> Desconto: &nbsp;
              {{valorDesconto | currency: 'R$ '}}
            </h3>
            <h3> Total: &nbsp;
              {{total() | currency:'R$ '}}
            </h3>
          </div>
        </div>
        <br>

        <div *ngIf="!descontoValido" style="color: rgb(220, 20, 20); font-weight: 600;">
          <span> ** ERRO: O valor do desconto não deve ser superior ao valor do pedido.</span>
        </div>

        <section class="example-section">
          <mat-checkbox class="example-margin" [labelPosition]="'before'"
            [(ngModel)]="temDesconto">Aplicar desconto ao pedido?
          </mat-checkbox>
        </section>

        <form [formGroup]="form">
          <div *ngIf="temDesconto">
            <mat-form-field class="fullWidth" appearance="fill">
              <mat-label>Desconto:</mat-label>
              <input matInput type="number" required  min="0"
                formControlName="desconto"  placeholder="Informe o valor do desconto..."
              />
            </mat-form-field>
          </div>
          <mat-form-field  appearance="fill">
            <mat-label>Vendedor:</mat-label>
            <mat-select formControlName="vendedor">
              <mat-option></mat-option>
              <mat-option *ngFor="let vendedor of vendedores" [value]="vendedor.idVendedor">
                {{vendedor.nome }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('vendedor')?.invalid">{{
              getErrorMessage("vendedor")
            }}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field  appearance="fill">
            <mat-label>Pagamento:</mat-label>
            <mat-select formControlName="pagamento">
              <mat-option></mat-option>
              <mat-option value="PAGO">SIM</mat-option>
              <mat-option value="AGUARDANDO_PAGAMENTO">NÃO</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('pagamento')?.invalid">{{
              getErrorMessage("pagamento")
            }}</mat-error>
          </mat-form-field>
        </form>

        <div class="dsc-btn-page-container">
          <button class="dsc-btn dsc-btn-blue" [disabled]="itens.length != 0 || (temDesconto && !valorDesconto) || (!descontoValido || !form.valid )"
            type="button"  color="primary" mat-raised-button (click)="confirmar()">Finalizar pedido
          </button>
          <!--Exibe o botão caso ainda exista produtos não adicionados no catálogo-->
          <div *ngIf="itens.length != qtdeProdutos">
            <button class="dsc-btn dsc-btn-white" (click)="voltar()" type="button">
              Continuar comprando
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</div>

