.container {
  height: 100%;
}

.sidenav {
  width: 11.3rem;
  color: white;
  background-image: linear-gradient(-60deg, #206b9adc 0%, #2361cbf3 100%);
}

img {
  width: 100%;
  height: 7rem;
  margin: .8rem auto 1rem auto;
}

.sidenav a {
  color: white;
}

.sidenav i {
  margin-right: .4rem;
}

.sidenav-content{
  min-height: 65vh;
  margin-top: 1em;
}

.menu {
  margin: 1rem 0 0 1rem;
  color: white;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

button {
margin-right: 8px;
}

.perfil{
  color: rgb(1, 238, 255);
  font-family: 'Trebuchet MS';
  font-style: oblique;
  font-size: 13px;
}

@media (max-width: 576px) {
  i {
    font-size: 18px;
  }
  .t  {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .03125em;
  }
  .sidenav{
    width: 8.4rem;
  }

  .sidenav i {
    margin-right: 0.1rem;
  }

  .perfil {
    font-size: 11px;
  }

}

