<mat-drawer-container class="container back" >

  <!--Lado expansível do menu-->
  <mat-drawer #drawer opened="true" class="sidenav" mode="side">

    <!--Início da Listagem do Menu-->
    <img src="assets/imagens/loja.png" alt="Imagem de navegação">
    <mat-nav-list>

      <a mat-list-item routerLink="home">
        <i class="material-icons"  >home</i>
        Home
      </a>
      <br />
      <br />

      <a mat-list-item routerLink="usuarios-lista">
        <i class="material-icons">account_circle</i>
        Usuários
      </a>

      <a mat-list-item routerLink="clientes">
        <i class="material-icons">person</i>
        Clientes
      </a>

      <a mat-list-item routerLink="fornecedores-lista">
        <i class="material-icons">folder_shared</i>
        Fornecedores
      </a>

      <a mat-list-item routerLink="vendedores-lista">
        <i class="material-icons">person</i>
        Vendedores
      </a>

      <a mat-list-item routerLink="produtos-lista">
        <i class="material-icons">important_devices</i>
        Produtos
      </a>

      <a mat-list-item routerLink="pedidos">
        <i class="material-icons">credit_card</i>
        Pedidos
      </a>

      <a mat-list-item routerLink="relatorios">
        <i class="material-icons">print</i>
        Relatórios
      </a>

      <br />
      <br />

      <a mat-list-item (click)="openDialog('0ms', '0ms')">
        <i class="material-icons">logout</i>
        Sair
      </a>
    </mat-nav-list>

  </mat-drawer>

  <!--Lado direito da tela-->
  <mat-drawer-content>

    <!--Inserção do cabeçalho (HEADER)-->
    <app-header></app-header>

    <!-- Inserção do botão Exibir/ocultar o NAV-->
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon title="Menu Principal">menu</mat-icon>
    </button>

    <!--Roteando os SubMenus. Exibe os componentes-->
    <main class="sidenav-content">
      <router-outlet></router-outlet>
    </main>

    <!--Inserção do rodapé (FOOTER)-->
    <app-footer></app-footer>

  </mat-drawer-content>
</mat-drawer-container>
