
<div class="container">

  <h1>{{cliente.nome}}</h1>

  <!-- Imagem -->
  <section>
    <div *ngIf="foto" >
      <img  matCardImage class="foto" [src]="foto"  alt="">
    </div>
  </section>

  <section >
    <h2>Dados pessoais</h2>

    <div>
      Nome:
      {{cliente.nome}}
    </div>
    <div>
      CPF:
      {{cliente.cpf}}
    </div>
    <div>
      Data de nascimento:
      {{cliente.dataNascimento | data}}
    </div>
    <div>
      Telefone principal:
      {{cliente.telefone1}}
    </div>
    <div>
      Telefone reserva:
      {{cliente.telefone2}}
    </div>
    <div>
      Email:
      {{cliente.email}}
    </div>
    <br>
    <div>
      **Observação:
      {{cliente.observacao}}
    </div>
  </section>

  <section>
    <h2>Endereço</h2>

    <!-- Não há endereço -->
    <div *ngIf="cliente.endereco == null">
      <p class="semDados">Sem dados de endereço registrados para este cliente.</p>
    </div>

    <div *ngIf="cliente.endereco != null">
      <div>
        Logradouro:
        {{cliente.endereco.logradouro}}
      </div>
      <div>
        Número:
        {{cliente.endereco.numero}}
      </div>
      <div>
        Complemento:
        {{cliente.endereco.complemento}}
      </div>
      <div>
        Condomínio:
        {{cliente.endereco.condominio}}
      </div>
      <div>
        Bairro:
        {{cliente.endereco.bairro}}
      </div>
      <div>
        Município:
        {{cliente.endereco.municipio}}
      </div>
      <div>
        Estado:
        {{cliente.endereco.estado}}
      </div>
      <div>
        Cep:
        {{cliente.endereco.cep}}
      </div>
    </div>
  </section>

  <section>
    <h2>Histórico de pedidos</h2>
    <br>

    <div>
      <!-- <a mat-raised-button  class="dsc-btn" style="background-color: lightsteelblue" routerLink="/pedidos/adicionar-pedido/cliente/{{cliente.idCliente}}">
        <mat-icon>add_shopping_cart</mat-icon>
        Novo pedido
      </a> -->

      <a mat-raised-button  class="dsc-btn" style="background-color: lightsteelblue" (click)="novoPedido()">
        <mat-icon>add_shopping_cart</mat-icon>
        Novo pedido
      </a>
    </div>
    <br>

    <!-- Não há pedidos -->
    <div *ngIf="listaPedidos.length == 0">
      <p class="semDados">Sem pedidos registrados para este cliente.</p>
    </div>

    <!-- INÍCIO DA LISTA DE PEDIDOS -->
    <div *ngIf="listaPedidos.length != 0">

      <!-- Filtro -->
      <mat-form-field class="filter">
        <mat-label class="filter">Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="pesquisar" #input>
      </mat-form-field>

      <!-- Tabela -->
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- NúmeroPedido -->
        <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef> Nº pedido</th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.numeroPedido}} </td>
        </ng-container>

        <!-- Vendedor -->
        <ng-container matColumnDef="vendedor">
          <th mat-header-cell *matHeaderCellDef> Vendedor </th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.vendedor.nome}} </td>
        </ng-container>

        <!-- Data do pedido -->
        <ng-container matColumnDef="dataPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data do pedido </th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.dataPedido | data}} </td>
        </ng-container>

        <!-- Data de entrega-->
        <ng-container matColumnDef="dataEntrega">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de entrega </th>
          <td mat-cell *matCellDef="let pedido">
            <div *ngIf="pedido.dataEntrega !=null">{{pedido.dataEntrega | data}}</div>
            <div *ngIf="pedido.dataEntrega ==null">não entregue</div>
          </td>
        </ng-container>

        <!-- Desconto -->
        <ng-container matColumnDef="desconto">
          <th mat-header-cell *matHeaderCellDef> Desconto </th>
          <td class="centro" mat-cell *matCellDef="let pedido"> {{pedido.desconto | currency }} </td>
        </ng-container>

        <!-- Total -->
        <ng-container matColumnDef="total">
          <th class="colunaTotal" mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td  class="valor" mat-cell *matCellDef="let pedido"> {{pedido.total | currency }} </td>
        </ng-container>

        <!-- Situação -->
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef> Pagamento</th>
          <td mat-cell *matCellDef="let pedido">
            <div *ngIf="pedido.situacao == 1">AGUARDANDO PAGAMENTO</div>
            <div *ngIf="pedido.situacao == 2">PAGO</div>
            <div *ngIf="pedido.situacao == 3">CANCELADO</div>
          </td>
        </ng-container>

        <!-- Botão expandir elementos-->
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
              (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Conteúdo estendido - Detalhes do pedido -->
        <ng-container matColumnDef="expandedDetail">

          <td mat-cell *matCellDef="let pedido" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="pedido == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description">

                <p class="itens">
                  <i>Ítens do pedido</i>
                </p>

                <table mat-table [dataSource]="pedido.itens" class="mat-elevation-z6">

                  <!-- Código -->
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.produto.codigo}} </td>
                  </ng-container>

                  <!-- Produto -->
                  <ng-container matColumnDef="produto">
                    <th mat-header-cell *matHeaderCellDef> Produto </th>
                    <td mat-cell *matCellDef="let element"> {{element.produto.nomeProduto}} </td>
                  </ng-container>

                  <!-- Descrição -->
                  <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.produto.descricao}} </td>
                  </ng-container>

                  <!-- Peso -->
                  <ng-container matColumnDef="peso">
                    <th mat-header-cell *matHeaderCellDef> Peso </th>
                    <td mat-cell *matCellDef="let element"> {{element.produto.peso}} </td>
                  </ng-container>

                  <!-- Quantidade -->
                  <ng-container matColumnDef="quantidade">
                    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                    <td class="centro" mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
                  </ng-container>

                  <!-- Preço -->
                  <ng-container matColumnDef="preco">
                    <th mat-header-cell *matHeaderCellDef> Preço </th>
                    <td mat-cell *matCellDef="let element"> {{element.produto.valorVenda | currency }} </td>
                  </ng-container>

                  <!-- Subtotal -->
                  <ng-container matColumnDef="subtotal">
                    <th class="colunaTotal" mat-header-cell *matHeaderCellDef> Subtotal </th>
                    <td class="valor" mat-cell *matCellDef="let element"> {{element.subTotal | currency }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
          </td>
          <br>
        </ng-container>

        <!-- Mensagem exibida quando não há dados correspondentes na filtragem -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Não encontrado: "{{input.value}}"</td>
        </tr>

        <!-- Definição das colunas e linhas -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <br>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 25]"
        showFirstLastButtons
        aria-label="Selecionar página">
      </mat-paginator>
    </div>
  </section>
  <br>
  <!-- FIM DA LISTA DE PEDIDOS -->

  <mat-card-actions>
    <!-- <a href="clientes/clientes-lista" color="primary">
      <button mat-raised-button color="primary">Lista de clientes</button>
    </a> -->

    <a color="primary">
      <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
    </a>
  </mat-card-actions>
  <br><br>
</div>
