//---------Classes------------

.container {
  width: 95%;
  margin: auto;
}

.foto {
  width: auto;
  height: auto;
  max-width: 194px;
  max-height: 259px;
  //zoom: 120%;
}

// .foto {
//   height: 253px;
//   width: 189.75px;
//   zoom: 120%;
// }


.semDados {
  color: lightcoral;
}

.colunaTotal{
  color: red;
  font-weight: 580
}

.valor{
  color: red;
  font-style: italic;

}

.example-element-row {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
  width: 90%;
}

.itens{
  color: darkgoldenrod;
}

.centro{
  text-align: center;
}

//---------Tags------------

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

h2 {
  font-weight: 430;
  color: cornflowerblue;
}


tr.example-detail-row {
  height: 0;
}


.cor{
  color: rgb(128, 226, 43);

}


